<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <member-component :datamember="members"></member-component>
            </div>
        <br>
        

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script>
        const MemComponent = {
            template :
                `<table border="1">
            <tr v-for="member in datamember" :key="index">
                <td>
                    <img width=75 src="https://dummyimage.com/200/000000/fff.png&text=NO+IMAGE" alt="">
                </td>
                <td>
                    <b>Nama : </b> {{ member.name }} <br>
                    <b>Alamat : </b> {{ member.address}} <br/>
                </td>
                <td>
                    <button>Edit</button>
                    <button>Hapus</button>
                    <button>Upload Foto</button>
                </td>
            </tr>
        </table>`,
        props : ['datamember']
    }

        var vm = new Vue({
            el: '#app',
            components : {
                'member-component' : MemComponent
            },
            data : {
                members : [],
            },
            getMembers : function () {
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                    .then( (response) => {
                        this.members = response.data.members;
                        console.log(response.data.members)
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
                },
            created(){
                this.getMembers();
            }
        })
    </script>
</body>
</html>