<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membuat CRUD</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{  error }}</li>
                </ul>
            </p>
            <label for="">Nama</label><br>
            <input type="text" :disabled="buttonStatus == 'upload'" name="title" ref="name" v-model="name" id=""><br/><br/>
            <label for="">Alamat</label><br>
            <textarea name="description" :disabled="buttonStatus == 'upload'" ref="addreess" v-model="address"></textarea><br/><br>
            <label for="">No. Telepon</label><br>
            <input type="number" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp" id=""><br/><br/>
            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update' ">
                <input type="button" value="UPDATE" @click="updateData(idEditMember)">
                <input type="button" value="CANCEL" @click="clearData()">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" @click="submitUpload(idUploadMember)" value="UPLOAD">
                <input type="button" value="CANCEL" @click="clearData()">
            </div>
        </form>
        <br>
        <table border="1">
            <tr v-for="member of members">
                <td>
                    <img width=75 :src="member.photo_profile ? photo_profile + member.photo_profile : 'https://dummyimage.com/200/000000/fff.png&text=NO+IMAGE'" alt="">
                </td>
                <td>
                    <b>Nama : {{ member.name }}</b><br>
                    <b>Alamat : {{ member.address }} </b>
                </td>
                <td>
                    <button @click="editData(member)">Edit</button>
                    <button @click="removeData(member.id)">Hapus</button>
                    <button @click="uploadFoto(member)">Upload Foto</button>
                </td>
            </tr>
        </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                members: [],
                photo_profile: "https://demo-api-vue.sanbercloud.com",
                buttonStatus: "submit",
                idEditMember: null,
                idUploadMember: null,
            },
            methods: {
                validationForm : function () {
                    this.errors = []

                    if(this.name.length < 5) {
                        this.errors.push('Nama minimal 5 karakter');
                        this.$refs.name.focus();
                    }


                    if (this.no_hp.length > 12) {
                        this.errors.push('No Hp tidak boleh lebih dari 12 digit');
                        this.$refs.no_hp.focus();
                    }
                },
                clearData: function () {
                    this.name = '';
                    this.address = '';
                    this.no_hp = '';
                    this.buttonStatus = 'submit';
                    this.idEditMember = null;
                },
                submitForm : function () {
                    this.validationForm();

                    if (this.errors.length === 0) {

                        let formData = new FormData();
                        formData.append('name', this.name);
                        formData.append('address', this.address);
                        formData.append('no_hp', this.no_hp);

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }

                        axios(config)
                            .then( (response) => {
                                this.clearData();
                                this.getMembers();
                                alert(response.data.message);
                            })
                            .catch( (error) => {
                                console.log(error);
                            })
                    }
                },

                removeData(id){
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: { _method: "DELETE"}
                    };

                    axios(config)
                        .then( (response) => {
                            this.getMembers();
                            alert(response.data.message);
                        })
                        .catch( (error) => {
                            alert(error);
                        })
                },

                editData(member){
                    this.name = member.name;
                    this.address = member.address;
                    this.no_hp = member.no_hp;
                    this.buttonStatus = "update";
                    this.idEditMember = member.id;
                },

                updateData : function(id) {
                    this.validationForm();

                    if (this.errors.length === 0) {
                        let formData = new FormData();
                        formData.append("name", this.name);
                        formData.append("address", this.address);
                        formData.append("no_hp", this.no_hp);

                        const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            data: formData,
                            params: { _method : "PUT"}
                        }

                        axios(config)
                            .then( (response) => {
                                this.clearData();
                                this.getMembers();
                                alert(response.data.message);
                            })
                            .catch( (error) => {
                                console.log(error);
                            })                            
                    }
                },

                uploadFoto : function(member){
                    this.name = member.name;
                    this.address = member.address;
                    this.no_hp = member.no_hp;
                    this.buttonStatus = "upload";
                    this.idUploadMember = member.id;
                },

                submitUpload : function(id){
                    let file = this.$refs.photo.files[0];

                    let formData = new FormData();
                    formData.append("photo_profile", file);

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then( (response) => {
                            this.clearData();
                            this.getMembers();
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error);
                        })

                },

                getMembers : function () {
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                    .then( (response) => {
                        this.members = response.data.members;
                        console.log(response.data.members)
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
                }
            },
            created(){
                this.getMembers();
            }
        })
    </script>
    
</body>
</html>