<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="isi" placholder="Masukkan Kata Kunci"> 
        <button onclick="">add</button>
        <ul v-for= "user in users" >
            <li> {{user.name}} </li>
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          cari : "",
        users : [
            {
                'name' : 'Muhammad Isnan Rasyid',
            },
            {
                'name' : 'Royan Fadillah',
            },
            {
                'name' : 'Jajang Anyeng',
            },
        ],
      },
  })
  </script>
</body>
</html>