<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="cari" placholder="Masukkan Kata Kunci"> 
        <p>
            Buku - buku yang ada disini :
        </p>
        <ul v-for= "book in filternamabuku">
            <li>Judul Buku : {{book.merk}} </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data : {
                cari : '',
                books : [
                    {merk : 'Introduction to Algorithms'},
                    {merk : 'HTML and CSS: Design and Build Websites'},
                    {merk : 'Eloquent JavaScript: A Modern Introduction to Programming'},
                    {merk : 'You Don’t Know JS Yet: Get Started'},
                    {merk : 'Head First PHP & MySQL: A Brain Friendly Guide'},
                    {merk : 'Python Crash Course: A Hands-On, Project-Based Introduction to Programming'},
                    {merk : 'Swift Programming: The Big Nerd Ranch Guide'},
                    {merk : 'Head First Android Development: A Brain-Friendly Guide'}
                ]
            },
            computed: {
                filternamabuku: function() {
                    return this.books.filter((book)=> {
                        return book.merk.match(this.cari)
                    });
                }
            }
        })
    </script>
</body>
</html>